body{
    text-align: right;
    background-color: rgb(255, 255, 255);
}
.topnav{
    display: inline-block;
    vertical-align: center;
    padding: 10px;
    width: 2460px;
height: 121px;
left: 0px;
top: 0px;
    background: #000000;
}
#topnav a{
    position: absolute;
    left: 72.07%;
    right: 25.37%;
    top: 39.67%;
    bottom: 40.5%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

color: #FFFFFF;
}



/*
.heroImage{
    padding: 25px;
    height: 600px;
}
.content{
    width: 500px;
    background-color: #373738;
}
.footer{
   display: inline-block;
   vertical-align: top;
   
}/*