
body{
    margin: 0px;
}
header{
    background-color: #000000;
    padding: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.topNav a{
  color: white; 
  text-decoration: none;
  text-transform:uppercase;
  padding: 0px 40px; 
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  /* rem divide number by 16 */
  font-weight: 400; 
}
.topNav a:hover{
    color: coral;

}
.topNav a.active{
    color: coral;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-size: 6rem;
    font-weight: 400;
    margin: 0px;  
}
.heroSpaceTxt{
    margin-left: 260px !important;
}

section{
    padding: 20px 70px;
}

.line{
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 80px;
  
}
.container{
    max-width: 1400px;
    margin: auto;
}
#description{
    width: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.portfolioRow{
    display: flex;
    padding: 40px;
}
.portfolioCard{
    flex: block;
    width: 100%;
    
}
.projectImage{
    width: 100%;
    
}
.cardContent{
    display: flex;
}

.contentInfo h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24;
    padding-bottom: 0px;
}  
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: grey;

}
.learnMore{
    background-color: #000000;
    width: 207px;
    height: 44px;
    border-radius: 6px;
}
.cta{
    display: flex;
    padding: 10px 40px;
    gap: 10px;
    text-transform: uppercase;
    color: aqua;
    text-decoration: none;
}
footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}
.bottomNav a{
    color: white; 
    text-decoration: none;
    text-transform:uppercase;
    padding: 0px 40px; 
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
  /* rem divide number by 16 */
    font-weight: 400; 
}
.bottomNav a:hover{
    color: coral;

}
.bottomNav a.active{
    color: coral;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
   
}/*

/*  
.portfolioCard{
    display: inline-flex;
    }
    width: 872px;
    height: 789px;
    button{
   row-gap: 50px;
    flex-direction: row;
}


.btn .btn-primary a{
    color: aqua;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
  .img-thumbnail{
    width: 800px;
    height: 800px;
    object-fit: contain;
    padding: 50px;
      }
.img-fluid{
    max-width: 100%;
    height: auto;
}
  */  